@model DesafioDev.Models.Service.Interface.PessoaViewModel
@{ 
    Layout = null;
}

<table   class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Tipo</th>
            <th scope="col">Cpf/Cnpj</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.listapessoas.Any())
        {
            foreach (var pessoa in Model.listapessoas)
            {
                <tr>
                    <td>@pessoa.nome</td>
                    <td>@pessoa.tipo_pessoa</td>
                    <td>@pessoa.cpf_cnpj</td>
                    <td>
                        <button class="btn btn-warning btn-sm" title="Editar" onclick="EditarPessoa(@pessoa.id)"><i class="bi bi-pencil-square"></i></button>
                        <button class="btn btn-danger btn-sm" title="Excluir" onclick="(@pessoa.id)"><i class="bi bi-trash3-fill"></i></button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3" class="text-center">Nenhuma pessoa encontrada</td>
            </tr>
        }

    </tbody>
</table>